@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Righteous", cursive;
  background-color: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.word1,
.word2,
.word3 {
  opacity: 0;
  transform: translate(0px, 20px);
}

.word1 {
  animation: word1 0.3s ease-in forwards;
}

.word2 {
  animation: word2 0.3s ease-in 0.05s forwards;
}

.word3 {
  animation: word3 0.3s ease-in 0.1s forwards;
}

@keyframes word1 {
  from {
    transform: translate(0px, 20px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes word2 {
  from {
    transform: translate(0px, 20px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes word3 {
  from {
    transform: translate(0px, 20px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.description {
  opacity: 0;
  transform: translate(0px, 8px);
  animation: description 0.3s ease-in 0.6s forwards;
}

@keyframes description {
  from {
    opacity: 0;
    transform: translate(0px, 10px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.chrome-btn {
  opacity: 0;
  animation: chrome-btn 0.5s ease-in 1.2s forwards;
}

@keyframes chrome-btn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.video-player {
  opacity: 0;
  animation: video-play 0.5s ease-in 1.2s forwards;
}

@keyframes video-play {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.no-translate-page {
  animation: translate-right 0.75s ease-out 0s forwards;
}

.translate-page {
  animation: translate-left 0.75s ease-out 0s forwards;
}

@keyframes translate-left {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-100vw, 0px);
  }
}

@keyframes translate-right {
  from {
    transform: translate(-100vw, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.logo-image {
  animation: logo-image-ani 0.5s ease-out 0s forwards;
  transform: translateY(-50%);
}

@keyframes logo-image-ani {
  0% {
    width: 100px;
    height: 0px;
  }
  10% {
    height: 10px;
    width: 100px;
  }
  20% {
    height: 20px;
    width: 100px;
  }
  30% {
    height: 30px;
    width: 100px;
  }
  40% {
    height: 40px;
    width: 100px;
  }
  50% {
    height: 50px;
    width: 100px;
  }
  60% {
    height: 60px;
    width: 100px;
  }
  70% {
    height: 70px;
    width: 100px;
  }
  80% {
    height: 80px;
    width: 100px;
  }
  90% {
    height: 90px;
    width: 100px;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}
